<html np-app="mainApp">
	<head>
		<title>Angular JS Filters</title>
     	 <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   <body>
   	<h2> angular js applivation </h2>
   	<label> First name:</label>
   	<input type="text" ng-model="student.firstname">

   	 	<label> Last name:</label>
   	<input type="text" ng-model="student.laastname">


<p> Name in Upper Case: {{student.fullName() | uppercase}} </p>
script type="text/javascript" src="ang.js"></script>
</body>

</html>

