.maindiv{
	height: 200px;
	
}
.maindiv input{
	position: relative;
	padding: 20px;
	width: 70%;
	margin: 50px; 
}
.addBtn {
  padding: 20px;
  width: 35px;
  background: white;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}
ul {
  margin: 0;
  padding: 0;
}

li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}