body {
    background-color: white;
    	margin: 0;
      padding: 0;
	
}
* {
  box-sizing: border-box;
}
header{
  background-color: yellow;
  height: 40px;
  padding-top: 10px;

}
.mobmenu{
  position:relative;
  left: 20px;
  top:10px;
  font-size: 25px;
  font-weight: bold;
  display: none!important;
}
#sp{
  position:absolute ;
display: none;
top:15px;
left:50px;
}
/*head{
  background-color: yellow;
}*/
header h1{
	font-family: sans serif;
		font-size:20px;
    text-align: center;
    margin: 0;
}
footer{

   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
z-index: 1;
   background-color: black;
  /*padding: 30px;*/

}
footer p{
  font-family: sans serif;
  margin:0;
   font-size: 15px;
   padding: 5px;


}
.topnav {

    background-color:black;
    overflow: hidden;
  	color: white;
    position: sticky;
    position: -webkit-sticky;
  	top: 0px;
  	width: 100%;
    min-height: 45px;
    z-index: 1;
    text-align: center;
  }
.topnav a {
  margin:0;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.home
{
  text-align: center;
}
.gallery {
  width: 400px;
  height: 490px;
  left: 50px;
  right: 60px;
  margin: 5px;
  display: inline-block;
  text-align: left ;
  border: 1px solid lightgray;
 overflow: hidden;
  vertical-align: top;
  z-index: -1;
}
.gallery div {
  /*overflow: auto;*/
}
article {
  z-index: -1;
}
.clk-btn {
  height: 145px;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
}
.clk-btn a {
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.clk-btn a:hover{

    color: Grey;
}

/* selected link */
a:active {
    color: white;

}

@media only screen and ( max-width : 565px )
{

  header {
    position: fixed;
    margin-top: 0;
    top:0;
    display: block;
    width: 100%;
  }
  .topnav {
    top:40px;
    position: fixed;
    border: 1px;
    background-color:black;
    padding: 0px;
    z-index: 5;

  }
  .topnav a{
    display: block;
    padding: 5px 15px;

  }
  .topnav a:hover{
    background-color: grey;

  }
  #sp{
    display: block;
  }
.menitems{
  display:none;
}
 
  .topnav:hover .menitmes{
display: block!important;
  }
  .mobmenu{
    display: block!important;
    float: left;
  }
  

}